.intro {
  max-width: 984px;
  margin: 0 auto;
}

.intro__title {
  max-width: 738px;
  font-weight: 900;
  font-size: 54px;
  line-height: 53px;
}

.intro__quote {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.intro__quote-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  display: block;
  text-align: right;
  padding-bottom: 32px;
}

.intro__text {
  max-width: 722px;
  padding-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media (max-width: 1024px) {
  .intro {
    width: 90%;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__quote {
    font-size: 24px;
  }

  .intro__text {
    font-size: 16px;
  }
}

@media (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    line-height: 1.2;
  }

  .intro__text {
    font-size: 16px;
  }
}
