.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid_item {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media (max-width: 544px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
